[2019-11-01 03:54] angelkoh opened #3 "Does not work for app_names and icons in Notification"
can you update the library, such that the App name in Notification gets updated when a locale is changed?

[https://i.stack.imgur.com/qZKbq.png](url)

[2019-11-01 07:34] YarikSOffice commented on #3
Hi @angelkoh
May I know a bit more information about your specific use case:
1. What `Context` do you use to display the string/notification?
2. Do you send a notification before setting a new locale?

Note that if a notification is sent before you set a new locale, then you have to update the notification manually. Lingver can't do that for you.

[2019-11-08 16:23] aliakbarmostafaei opened #4 "Build error when adding lingver dependency"
I get this build error when I add the dependency:
`More than one file was found with OS independent path 'META-INF/library_release.kotlin_module'`

I'm using Android Studio 3.5.2 with Kotlin 1.3.50.

[2019-11-15 07:35] YarikSOffice commented on #4
Hi @aliakbarmostafaei
In meanwhile, you can try excluding it as described here:
https://stackoverflow.com/questions/44509608/duplicate-files-copied-in-apk-meta-inf-library-release-kotlin-module

I'll try to fix it inside the library.

[2019-11-22 19:37] binaryKarmic opened #5 "Note that you need to update all already fetched locale-based data manually."
I am seeing some unexpected behavior even after calling
`Lingver.getInstance().setLocale(this, language)`
properly. The new language locale strings won`t show up unless app is exited and started again.
I guess it is related to the point mention in notes "Note that you need to update all already fetched locale-based data manually. Lingver is not responsible for that."
What exactly means by updating

[2019-11-25 17:53] YarikSOffice commented on #5
Hi @binaryKarmic

may I know a bit more about your use case:

1. what exactly is not translated?
2. do you load this data before or after you call `setLocale`?

It means that you basically need to restart a whole activity back stack to apply a new locale.

[2019-11-25 22:51] drewhannay opened #6 "Publish to JCenter or Maven Central"
I'm investigating using Lingver from my project, but that would require it to be published somewhere other than jitpack. Would you be able to publish to either JCenter or Maven Central?

[2019-11-26 12:16] YarikSOffice commented on #6
Hi @drewhannay !
There are no such plans to be honest since it will complicate maintenance.
May I know what is wrong with jitpack in your use case?

[2019-11-26 16:28] drewhannay commented on #6
Jitpack pushes the responsibility of configuration down to consumers rather than on the library owner. I'd like to use Lingver from another one my open source libraries, but that would require not only me but also all of my consumers to configure jitpack. It can also introduce flakiness into consumer builds if the artifacts take too long to build the first time they're compiled.

Even with all of

[2019-11-26 19:35] drewhannay commented on #6
Also it looks like with jitpack, consumers can't see source code for Lingver in the IDE, which is a major drawback to adoption

[2019-11-28 13:23] YarikSOffice commented on #6
Overall, I agree that Maven Central or JCenter is a more reliable choice for the long run. However, can't promise you anything since I really need to find time for that.

[2019-12-02 15:26] g88704 opened #9 "System-Default Language-Key?"
Hi,

first of all thanks for your Lingver library project.

Is there a way or a "special language-key" that always returns the

  defaultLocale: Locale = Locale.getDefault()

from the app-start?

Thanks and Regards

[2019-12-02 15:41] YarikSOffice commented on #9
Hi @g88704
I don't think I get your question.

What do you mean by `returns` in this context?
Could you please describe in a bit more details what you want to achieve.

[2019-12-02 16:05] g88704 commented on #9
Yes I will try to explain:

In my Language selection I want to have the following entries:
- System language
- English
- German
- ...

The entry System language should always use the language that is set as your default language in the Android System settings.

So if you change the default Android system language and you restart your linger-app it should use the new system default language key.

R

[2019-12-03 09:42] YarikSOffice commented on #9
okay, I got it.

Unfortunately, Lingver doesn't support that at the moment. I'll consider it as a feature request since it might be really useful.

[2019-12-03 14:00] g88704 commented on #9
I wrote a simple wrapper around your Lingver-library that implement the "System language" feature. My quick solution works like this:

1) I store a separate Lang-Key in my own prefs. The value "_" is used for the System-Language entry
2) During the App start I store the Locale.getDefault in a member called mStartupLocale
3) My wrapper method to set the Linger language looks like this:
    fun setL

[2019-12-06 10:29] davidmigloz opened #10 "res.updateConfiguration() deprecated in API 25"
Hello,

I was reviewing the code of the library and I noticed that it's using `res.updateConfiguration()` (deprecated in API 25) for all API versions, instead of using [the approach described in the article](https://proandroiddev.com/change-language-programmatically-at-runtime-on-android-5e6bc15c758).

https://github.com/YarikSOffice/lingver/blob/083f4e98f43f81d00b33fb62bdc3434ccbfcc0b5/library/sr

[2019-12-06 10:47] YarikSOffice commented on #10
Actually, the article contains 2 approaches. I prefer this one since it covers more use cases despite using some deprecated API which are not likely to be removed anytime.

For instance, there is no way to update a locale for `application.context` using the modern approach via `createConfigurationContext`.

[2019-12-08 21:32] davidmigloz commented on #10
My bad sorry, I didn't continue reading after "API level 25" section. I've researched a bit more and it makes sense your solution. Thank you very much.

[2019-12-08 21:32] #10 closed

[2019-12-10 17:35] TikTak123 opened #11 "На некоторых устройствах в некоторых местах текст не меняется"
Здравствуйте
Я использую вашу библиотеку в своем приложении, но на некоторых устройствах в некоторых местах текст не меняется. В этих устройствах всё хорошо работает, если полностью закрою приложение и заново в него войду. У себя в проекте я использую библиотеку Conductor вместо фрагментов.  Мы про тестировали это на нескольких устройствах. Могу скинуть скриншоты и марку телефонов на которых оно п

[2019-12-11 09:16] YarikSOffice commented on #11
Hi @TikTak123
I'll answer in English, so other developers could also read if they face the same issue.

Question in short:
The content is not translated in some places after applying a new language/locale.

Answer:
According to your code, you are recreating the top activity only. Do you follow the single activity approach? In case you are using a few activities, you have to recreate a whole activi

[2019-12-11 18:14] TikTak123 commented on #11
I have only one activity in the application. The place where the text is not translated, it takes this text from the string.xml file. I will try to analyze my application.

[2019-12-20 12:45] nuwanchamara opened #12 "Part of the UI has not loading the correct language"
I have a BaseActivity which Extends AppCompatActivity.

[code]

After Changing the Language it look like this.

![71251609-d405f880-2348-11ea-8c0f-c02ea3c09d1e](https://user-images.githubusercontent.com/9565807/71255617-5b0c9e00-2354-11ea-9386-89be0005eebd.png)

I have checked for missing translations. But all the strings are there . But not loading some of the strings. How to solve this issue

[2019-12-21 15:31] TikTak123 commented on #12
I have same problem

[2019-12-23 19:33] YarikSOffice commented on #12
Guys, could anyone create a small sample project that can reproduce the issue? since I can't replicate it on my side. I've been using this approach (not the library) for years and have never faced this issue.

[2019-12-25 08:55] TikTak123 commented on #12
I made this project using fragments.
https://github.com/TikTak123/LanguageFragmentExample

I made this project using Conductor.
https://github.com/TikTak123/LanguageConductorExample

Both have the same problem. Here is the video that plays the bug.
https://drive.google.com/file/d/1xU90veGEjSpQb-AEg9cFkk7Bhxnt6Nwn/view?usp=sharing

Steps to reproduce the bug:
1. Change the language to Ukrainian.
2.

[2019-12-25 09:44] dima-zemingo opened #13 "Application language is discarded when opening webview"
When having single activity application (but it's not a must) and forcing locale change, when entering a fragment/activity with webview, the language is changed to the default .
This is the case described in stack overflow post - https://stackoverflow.com/questions/40398528/android-webview-language-changes-abruptly-on-android-7-0-and-above/40480347#40480347
It would be nice to add it to your proje

[2019-12-25 12:31] YarikSOffice commented on #12
@TikTak123 thanks for the sample project! Finally, I can reproduce it.

Looks like a web view resets the locale to the device default. There is another [issue](https://github.com/YarikSOffice/lingver/issues/13) submitted today reporting the same behavior.

I'll investigate that soon and check what I can do.

[2019-12-25 12:33] YarikSOffice commented on #13
Hi @dima-zemingo !
Thanks for the contribution. I'll investigate that and check what I can do. Stay tuned.

[2019-12-26 11:35] TikTak123 commented on #12
@nuwanchamara Have you solved the problem with changing the language?
I also have this problem even without a WebView. This bug works after changing the language and it does not always work, and not everywhere and not on all devices. I can’t reproduce it in the sample project. Other than that, I'm not sure if this is the case with the Lingver library, since I use the Conductor library instead of f

[2020-01-07 12:48] khushwaqt commented on #12
Hi, I was also having this issue and i fixed it by this code. I don`t know if this is good way of doing it or not but it worked for me.
override fun onDestroy() {
        super.onDestroy()
        context?.let { Lingver.getInstance().setLocale(it, getLocale()) }
        webView.destroy()
    }

[2020-01-13 14:57] RumataEstorish opened #14 "Incorrect language, when device set two or more locales"
Steps to reproduce:

0. Have Android 9 (maybe 10 too)
1. Add languages in device. F.e. English and Russian
2. Switch device to Russian
3. Switch application to English.
4. Observe

Expected result:
1. App language is English
2. Actual result: app language is Russian (maybe partially)

Notes:
I think problem still is in "setLocaleForApi24".

EDIT 1:
further investigation lead me, that problem appea

[2020-01-13 16:13] #14 closed

[2020-01-13 16:14] RumataEstorish commented on #14
Bug found, sent pull request

[2020-01-20 12:22] YarikSOffice commented on #13
Thanks again for your contribution!

Finally, I've investigated the issue. However, I decided to not include the fix in the library itself since I was not able to find an easy solution which could solve this issue for everyone.

I was thinking of creating a fake webview during the library initialization and setting the desired locale back to prevent this issue from happening in the future. But aft

[2020-01-20 12:22] #13 closed

[2020-01-20 12:29] YarikSOffice commented on #3
Closed due to inactivity. Please, feel free to reopen if needed.

[2020-01-20 12:29] #3 closed

[2020-01-20 12:30] YarikSOffice commented on #5
Closed due to inactivity. Please, feel free to reopen if needed.

[2020-01-20 12:30] #5 closed

[2020-01-20 12:48] YarikSOffice commented on #12
There is a critical bug in version `1.2.0`. According to my tests, it happens while setting a locale with country qualifier ( e.g. `en_US`) on Android API 24 and above.

Kindly update the library and let me know if it's fixed for you.

Also, the latest version addresses the well known [bug](https://issuetracker.google.com/issues/37113860) with WebView related to locales. Kindly check the documenta

[2020-01-20 12:51] YarikSOffice commented on #11
There is a critical bug in version 1.2.0. According to my tests, it happens while setting a locale with a country qualifier ( e.g. en_US) on Android API 24 and above.

Kindly update the library and let me know if it's fixed for you.

Also, the latest version addresses the well-known bug with WebView related to locales. Kindly check the documentation for more info as well as the sample project for

[2020-01-28 12:17] m-rahimy opened #18 "Fonts are not loading on setLocale()."
This is a great lib for localization. I saw a small point: there was no `res/font` folder in the sample project and this means the fonts that developers set separately for each locale are not be loaded on recreating the activity, they will only be loaded and set on starting the app again. So by changing the language on a hypothetical `SettingsActivity` and doing a `recreate()`, the fonts will not

[2020-02-02 08:00] mrahimygk opened #19 "Localization changes are bound to OS language"
In some recently-released phones, users cannot change the language inside the app which is using lingver, the language is not independent of the OS language.

This happens in samsung A10, api 29 and xiaomi redmi k20 pro api 29
But It works fine in Samsung j7Pro api 28

Maybe it's an issue in api level?

[2020-02-06 07:45] TikTak123 commented on #12
This is didn't help me, but in my app I fixed this issue like this:
[code]
Every time when Controller created it calls onContextAvailable method where I set locale again.

[2020-02-12 19:42] YarikSOffice commented on #19
Hi @m-rahimy

Have you managed to reproduce it using the sample project?

[2020-02-13 03:48] m-rahimy commented on #19
I believe It happens when we add the new androidx prefsManager dependency in our project (what a weird issue). This seems not related to the lingver library.

[2020-02-13 10:53] YarikSOffice commented on #19
Hmm, adding of androidx prefs manager doesn't break the library, according to my tests.
Any further details are appreciated @m-rahimy

[2020-02-18 16:25] RumataEstorish opened #20 "Fragment's menu not localized on rotation"
Steps to reproduce:

- Create fragment
- Add menu to fragment
- Rotate device

If you add something like this:
`    override fun onPrepareOptionsMenu(menu: Menu) {
        super.onPrepareOptionsMenu(menu)
        menu.clear()
        MenuInflater(activity?.applicationContext).let {
            it.inflate(R.menu.main_menu, menu)
            super.onPrepareOptionsMenu(menu)
        }
    }
`
it solv

[2020-02-20 08:02] YarikSOffice commented on #20
Unfortunately, I can't reproduce it across different android versions on emulator and my Pixel2 using your sample project.
Are you using some specific device?

[2020-02-20 12:39] RumataEstorish commented on #20
Ok, lets add more steps to reproduce :)

Environment:
- Emulator API 28 (Pixel 2 XL skin my case)
- Languages: English primary, Russian secondary
- Auto rotation is turned ON

Steps:
- Open app. Language is English
- Switch to Russian
- Press "Screen 1"
- Open 3 dots menu. Observe "второй пункт меню"
- Without closing menu rotate emulator.

Expected result:
- We still see "второй пункт меню"

Actu

[2020-02-20 12:41] RumataEstorish commented on #20
![изображение](https://user-images.githubusercontent.com/7760631/74934524-77ca5e00-53f7-11ea-9d7b-c61e0424b90c.png)

[2020-02-20 13:10] YarikSOffice commented on #20
Okay, just reproduced it. It's important to keep the menu open before rotating the device to replicate the issue.

Will dive deeper and see what I can do. Thank you for reporting!

[2020-02-20 13:54] RumataEstorish commented on #20
Well, there are more cases when this can happen. Not only when menu is kept opened, but when you open/close navigation drawer and some other. But they require much more code for resting.

[2020-03-06 06:53] NikiFoD commented on #19
Could it be an issue with the App Bundles? If your phone doesn't have the language in your settings, it is not downloaded using app bundle, unless you explicitly say so.
So, language change will work on debug mode, but not in release.
Check out this [post](https://stackoverflow.com/questions/52731670/android-app-bundle-with-in-app-locale-change)

[2020-03-06 13:06] Maxrang opened #21 "Update already fetched locale-based data in activities and fragments that reside in the backstack after changing locale."
This is not an issue with lingver but more like the followup that I've never figured out.
In light of

I understand that Lingver's responsibility ends after updating the locale using
`Lingver.getInstance().setLocale(this, language)`

what I have is a button in a custom ActionBar, pressing that button calls the `Lingver.getInstance().setLocale(this, language)` and the ActionBar is used on every act

[2020-03-06 21:12] YarikSOffice commented on #21
Hi @Maxrang,

There is no silver bullet for refreshing the backstack. That's exactly the reason why Lingver doesn't do that for you.

In your case, I'd suggest keeping following the `recreate()` approach (btw you have to call it for each activity) making sure your activities/fragments correctly restore their state. I don't see any better alternative, unfortunately.

You can always implement a simi

[2020-03-06 21:43] YarikSOffice commented on #19
@NikiFoD great remark! I'll consider adding this info to the description.

[2020-03-19 09:25] jemshit commented on #21
Every Activity should have which locale is used when they are created. In `onResume()`, you should check "localeWhenCreated==currentSelectedLocale", if not, recreate(). So, when you return back to Activity in stack, it will recreate itself. Beware, Fragments in Activity will still be there in FragmentManager [after recreate.](https://stackoverflow.com/questions/26849905/fragments-not-destroyed-whe

[2020-03-25 21:15] carlosferreira01 opened #23 "Startup problem"

[2020-03-25 22:37] #23 closed

[2020-03-30 21:37] rexi1r commented on #12
@YarikSOffice I have the same problem and after update the library to latest version (1.2.1), My problem was not solved.
I use this lib in the android project.

what can i do?

[2020-03-31 14:27] YarikSOffice commented on #12
@rexi1r could you describe your issue in more details?
a sample project reproducing the issue will be highly appreciated since I've been not able to identify it for a long time already.

[2020-03-31 14:37] rexi1r commented on #12
@YarikSOffice yeh, This problem often occurs at the first application opening. you can see the tab's name is correct language but the content of tab that is inside a fragment, it's not correct,
I will try to create a sample application but, our problem occurs on our situation, so it's better to solve this problem for all.
![Screens](https://user-images.githubusercontent.com/4881902/78039081-e26da2

[2020-03-31 14:48] YarikSOffice commented on #12
@rexi1r a sample project will significantly help fixing this issue for everyone. Thanks in advance!

[2020-04-02 10:52] AlaaZarifa commented on #19
It's true, Google introduced a new App Bundle format to split apk files in smaller sizes when they’re being installed on the client devices. However, this means that we cannot have dynamic language changes in our applications.
To prevent that split for language files we need to add extra lines in our `build.gradle` file inside the app folder like below.

[code]

[2020-04-03 15:08] YarikSOffice commented on #4
Fixed in v1.2.2.

[2020-04-03 15:08] #4 closed

[2020-04-03 15:19] #21 closed

[2020-04-03 15:23] YarikSOffice commented on #19
Finally, looks like the issue is not related to the library. Feel free to reopen if necessary.

[2020-04-03 15:23] #19 closed

[2020-04-10 14:52] ranco980 commented on #9
That is a very important feature! Any plan to implement?

[2020-04-15 10:48] lurbenk opened #25 "Android 5.1.1 language change not working"
Hi, i implemented language change on my app, everything works fine but i received report about problem on Android 5.1, on this version is language change do nothing, just refresh activity and whole content remain in default language.

Does anybody face similar issue ? or this version and lower are not supported ?
Thanks upfront for any help :)

[2020-04-15 11:20] YarikSOffice commented on #25
@lurbenk The library supports all android versions.

Could you describe your issue in more details?
- how do you refresh your activities?
- do you use app bundles or the webview?
- do you cover all the supported locales with necessary string resources?
- etc

Also, a sample project reproducing the issue is highly appreciated.

[2020-04-15 11:51] lurbenk commented on #25
- refreshing activity by :
val refresh = activity!!.intent
        activity!!.finish()
        activity!!.startActivity(refresh)

- no webview in app and app bundle not used
- app has default ENG resources and SK resources
- string resources should be fine, on newst android version running with no problem

as i checked now app is still in english by default also after lang change. same problem als

[2020-04-15 12:00] YarikSOffice commented on #25
Btw, if you use multiple activities, you have to restart all of them (the entire back stack).

Besides that, I don't see any issues here. Could you provide a sample project, so I can investigate the issue and fix it asap.

[2020-04-15 12:48] lurbenk commented on #25
hi, i tried to extract logic related to language change : https://github.com/lurbenk/languageSample
basicly textView in left top croner works as switcher.
Also this test app remain in english all time

[2020-04-15 14:21] YarikSOffice commented on #25
Okay, I've checked the sample app.

As far as I see, the cause of the issue is a wrong locale resolution. Android is not able to link the `sk` locale and the string resources inside `values-sk-rSK` folder.  However, it works on Android 7 and above due to the [new locale resolution strategy](https://developer.android.com/guide/topics/resources/multilingual-support).

You can put your string resourc

[2020-04-15 17:33] lurbenk commented on #25
what a terrible mistake on my side, sorry for bothering you with this issue.
But thank you very much for help and very fast response :) wish to have such a great support and help everywhere :)

[2020-04-15 17:33] #25 closed

[2020-04-15 18:15] YarikSOffice commented on #25
@lurbenk you are welcome :)

[2020-04-17 07:04] Kolyall opened #26 "How to change locale without restarting A activity?"
I have:
- activity A with option "Change Language", activity B opens after click on "Change Language"
- activity B with list of languages, language is changed after click on element of list by:
[code]
[result]: Activity A resumed, but locale was not changed

The same behaviour is implemented at Telegram app

[2020-04-17 09:35] YarikSOffice commented on #26
Hi @Kolyall

After changing the locale, you need to refresh the content that was already loaded. In your example, you need to refresh the activity A by either restarting or implementing some custom approach.

As far as I know, Telegram uses Views rather than activities to represent a screen. I suppose they just recreate/reload the view underneath of the screen B.

[2020-04-21 13:25] khamidjon opened #27 "Not working after publication?"
Firstly, thank you for the library.

While I debug on my computer everything is working fine, when I publish to Play Store, and I download from there, then, if the default language of the device is English, the library is not working. If the default language is Russian, everything is working fine.

Could you help to solve the issue?

[2020-04-22 13:35] YarikSOffice commented on #27
Hi @khamidjon

do you either use app bundles or strip resources via `resConfigs` in build.gradle?

Could you provide more details on how you use the library and what is the issue exactly?
A sample project representing the issue is highly appreciated as well.

[2020-04-23 06:27] khamidjon commented on #27
I have created string.xml, string-en.xml, string-ru.xml files I think this is what you mean by app bundles. I could not find resConfigs in build.gradle, I don't know what it is.

In my App.kt file, I am initializing based on user device's language, it is working fine.

`class App : Application() {

    @Suppress("UNUSED_VARIABLE")
    override fun onCreate() {
        super.onCreate()

        val

[2020-04-23 09:52] YarikSOffice commented on #9
@ranco980 we are currently working on that

[2020-04-23 10:47] YarikSOffice commented on #27
[App bundles](https://developer.android.com/guide/app-bundle) is a publishing format that optimises your apk for each device by removing unnecessary resources like strings, drawables, etc. According to your description, your app might be affected by that. You can find more info on app bundles in the [README](https://github.com/YarikSOffice/lingver/blob/master/README.md).

Apart from that, I don't

[2020-04-26 09:04] #9 closed

[2020-05-06 13:15] khamidjon commented on #27
Yes, it worked after I added following lines.

`android {
    bundle {
        language {
            // Specifies that the app bundle should not support
            // configuration APKs for language resources. These
            // resources are instead packaged with each base and
            // dynamic feature APK.
            enableSplit = false
        }
    }
}`

as you said, the problem was

[2020-05-06 13:18] #27 closed

[2020-05-07 11:00] #26 closed

[2020-05-14 12:52] peporroncin opened #30 "Works on local, but not in Google Play"
Hi,
I've testing the library to change language programatically and it works perfectly. The problem is when I put the app on Google Play. The same app doesn't work, doesn't change the language.

I've tried 2 times, it's exactly the same app on local and Google Play.

Anyone with same issue?

Thanks a lot!

[2020-05-14 12:59] YarikSOffice commented on #30
Hi @peporroncin,

Your issue might be related to [App Bundles](https://developer.android.com/guide/app-bundle).
Please refer to the similar issue #27 for a solution.

[2020-05-14 14:41] peporroncin commented on #30
Sorry @YarikSOffice, I hadn't seen the related issue.

I'm going to test the solution.

Thanks in advance.

[2020-05-15 07:27] peporroncin commented on #30
After applying this #27 solution, everything works properly, even with the Google Play app.

`android {
    bundle {
        language {
            enableSplit = false
        }
    }
}`

Thank you very much for this fantastic library.

[2020-05-15 07:27] #30 closed

[2020-05-27 07:27] napsterphantom opened #31 "inconsistent language between ui components"
![Screenshot_20200527-102150](https://user-images.githubusercontent.com/50886189/82989938-145a5880-a004-11ea-8f8f-cee9ebcc8e35.png)
![Screenshot_20200527-102244](https://user-images.githubusercontent.com/50886189/82990042-3c49bc00-a004-11ea-8229-bcc139d853e5.png)
components of the app that use strings directly in xml eg the layouts correctly respond to language changes, however, Strings pulled by

[2020-05-29 10:51] YarikSOffice commented on #31
Hi @napsterphantom ,

Do you use `context.createConfigurationContext(config)` somewhere in your app to create a localized context?

Could you please provide a sample project reproducing the issue since there are a couple of similar issues reported already, but I still can't identify the problem without seeing the code. Thanks in advance!

[2020-06-19 17:03] svrlopatrik opened #32 "Stops working in production app"
The library works fine when I install it directly from Android Studio.

However, when I create signed app bundle, upload it to play store and download it from there it stops working. Language is always in system's locale. I'm not using proguard which should change the source code.
I own devices with API 29, 23, 21 and only 21 works correctly on play store's version.
Any idea how to fix this strang

[2020-06-19 19:20] YarikSOffice commented on #32
Hi @svrlopatrik,

Looks like your issue is related to App Bundles.
Please refer to the similar issue #27 for a solution.

[2020-06-23 11:32] XJIOP commented on #20
This is androidx.appcompat:appcompat bug. Downgrade from1.3.0-alpha01 to 1.2.0-rc01 fixed this problem.

[2020-06-23 12:28] #32 closed

[2020-06-29 06:11] BhargavSavasani opened #33 "Khmer Language Not Working"
This Library in Khmer (Cambodia) Language not Working

[2020-06-30 07:29] YarikSOffice commented on #33
Hi @BhargavSavasani ,

I've checked Khmer (Cambodia) Language and it works as expected for me.

Values folder: `values-km-rKH`
Locale: `km_KH`

Could you please elaborate on how you use the library and what goes wrong in your case? Code snippets are highly appreciated.

[2020-06-30 08:34] BhargavSavasani commented on #33
Hi @YarikSOffice

Please Give Any Link And Project you Work on the Khmer Language
Because Currently, my Side Not Working

[2020-06-30 09:18] YarikSOffice commented on #33
@BhargavSavasani Here is a test branch for the sample app containing Khmer language:
https://github.com/YarikSOffice/lingver/compare/example_khmer_language

[2020-06-30 10:30] BhargavSavasani commented on #33
Hi @YarikSOffice

Please update in Sample
Because Currently still not Working
if you Update in the sample then Download and check this

[2020-06-30 10:40] YarikSOffice commented on #33
@BhargavSavasani Please give me more details with code snippets/screenshots, so I can help with your issue.

[2020-06-30 11:06] BhargavSavasani commented on #33
@YarikSOffice

Add strings.xml file in values-km-rKH
now Setting in Change Language

![image](https://user-images.githubusercontent.com/42731066/86119188-a831af80-baef-11ea-9841-22c4298cae12.png)
![image](https://user-images.githubusercontent.com/42731066/86119224-b5e73500-baef-11ea-96e8-801f7b2643a3.png)
![image](https://user-images.githubusercontent.com/42731066/86119253-c0a1ca00-baef-11ea-9e32-

[2020-06-30 11:25] YarikSOffice commented on #33
Well, I don't see any issues so far. Let me figure out a few more things:

1. Do you call `setLocale` somewhere outside this class? I'm curious why do you use additional pref setting for language since you can always get the current language via `lingver.getLanguage()`.
2. Do you use [App Bundles](https://developer.android.com/guide/app-bundle)?
3. How do you restart your app inside `restartApp()`

[2020-06-30 11:30] BhargavSavasani commented on #33
no i am not use app bundles
restart app is a function to restart app

![image](https://user-images.githubusercontent.com/42731066/86121154-25aaef00-baf3-11ea-9fca-ff2eb8595298.png)

[2020-06-30 12:14] YarikSOffice commented on #33
@BhargavSavasani Do you use a single activity with fragments in your app? or activity per screen?

since if you are using multiple activities you have to restart all of them, but looks like your code restarts the top one only.

[2020-06-30 12:20] BhargavSavasani commented on #33
@YarikSOffice

But When u Call activity.finishAffinity means Restart the Full App

[2020-06-30 12:33] BhargavSavasani commented on #33
@YarikSOffice

please If u work khmer lang. in your project and its working
then send me full project so i am check this

[2020-06-30 12:34] YarikSOffice commented on #33
the full sample project using khmer is here:
https://github.com/YarikSOffice/lingver/compare/example_khmer_language

Have you checked it out?

[2020-06-30 12:43] BhargavSavasani commented on #33
@YarikSOffice

but This Code not Update in Your Sample Project
If u update this Code in Sample Project then

[2020-06-30 12:46] YarikSOffice commented on #33
This is a separate branch specifically for khmer language. Please check out this branch and clone/download the repository.

[2020-06-30 13:04] BhargavSavasani commented on #33
@YarikSOffice
ok I Got it
Thanks

[2020-07-22 06:48] #33 closed

[2020-09-02 04:29] mirrorlarry commented on #31
@napsterphantom , I also have the same problem in my app while using this library. Language inconsistency. but it does not always happen.

This is from my Application onCreate() method.
`Lingver.init(this, Constants.LOCALE_MYANMAR)
        val language = pref.getLocaleLanguage(Constants.KEY_LOCALE_LANGUAGE, Constants.LOCALE_MYANMAR)
        Lingver.getInstance().setLocale(this, language)`

Setting

[2020-09-08 07:44] aconsuegra commented on #31
I can consistently reproduce this issue if device language is different than the one chosen in the app and then I open any browser intent and come back to the app. Any possible workaround?

[2020-09-09 08:32] YarikSOffice commented on #31
@aconsuegra could you clarify what is your browser intent?
do you open a build-in WebView or intent for an external browser like Google Chrome?

there is a caveat while using web view, you can read more on that in the README.

[2020-09-09 08:47] YarikSOffice commented on #31
@mirrorlarry I see an issue in your sample code. After setting a locale you immediately kill the app process by ```System.exit(0)```, potentially preventing shared preferences to successfully persist the setting since it's done [asynchronously](https://github.com/YarikSOffice/lingver/blob/master/library/src/main/java/com/yariksoffice/lingver/store/PreferenceLocaleStore.kt#L66) (on a background thr

[2020-09-09 17:30] aconsuegra commented on #31
@YarikSOffice You are right, my issue is solved after applying the suggested fix

[2020-09-17 01:58] mirrorlarry commented on #31
Thank you

[2020-09-22 19:18] smokxx opened #36 "Why "followSystemLocale" is not true by default?"
I was quite surprised when I realized that `isFollowingSystemLocale` is false by default. Let me explain my use case, maybe I'm missing something. I want my app locale to match system locale, unless the user specified otherwise explicitly in the app settings. So if the user just launches the app, then changes the system locale, I want the app to automatically change the locale to the system one. I

[2020-09-22 19:58] YarikSOffice commented on #36
Hi, @smokxx

I totally understand your concern and agree that your expectations are natural.
However, `isFollowingSystemLocale` API was introduced recently and we didn't change this behavior to keep backward compatibility.

I plan to set `setFollowSystemLocale` to true by default along with the next breaking changes. No ETA, unfortunately.
Until then you have to use the mentioned workaround to ach

[2020-09-25 21:18] #36 closed, assigned to nobody

[2020-10-05 15:56] arnowelzel opened #37 "Does not work good with AAB instead of APK"
I just discovered on a device by Xiaomi with MIUI12 that translations may be missing if you publish the app on Google Play as AAB (Android App Bundle). After changing to the traditional APK everything was OK. I believe, when using AAB Google Play only installs the language which is used by the device - as the idea of AAB is to save storage space.

Maybe this should be mentioned in the documentatio

[2020-10-05 20:34] YarikSOffice commented on #37
Hey @arnowelzel,

You are right, it won't work with App Bundle out of the box.

However, it's already mentioned in the README. Please, refer to [the following section](https://github.com/YarikSOffice/lingver#app-bundles).

[2020-10-05 21:13] arnowelzel commented on #37
Ok, thanks for pointing this out - just didn't RTFM ;-)

[2020-10-05 21:13] #37 closed, assigned to nobody

[2020-10-12 06:10] mwshubham opened #38 "Initializing the library on background thread."
Is there any advantage/disadvantage of initializing the library on a background thread?

[2020-10-19 18:42] YarikSOffice commented on #38
Hey @mwshubham ,

The library was not designed to be initialized on a background thread. However, you can do that even though it's not thread-safe out of the box (`init` and `getInstance()` might create a race condition).

Initialization invokes a shared preference under the hood, doing that on a background thread can potentially improve things. However, the library is already light enough and I d

[2020-10-20 04:55] mwshubham commented on #38
Thanks for your reply. I agree with you that there will be no significant performance improvements in doing the same.

[2020-10-20 04:55] #38 closed, assigned to nobody

[2020-11-10 11:48] TurKurT656 opened #39 "Layout Direction bug after split-screen mode"
I've set the locale with this code:
`Lingver.getInstance().setLocale(requireContext(), "fa")`
It use `RTL` layout direction. Everything works great, but when I use the app in **split screen** mode and then maximize it again layout direction resets to `LTR` (but it uses farsi strings).

How can I fix the issue?

[2020-11-11 09:23] YarikSOffice commented on #39
I'd highly appreciate it if you could create a small sample project reproducing the issue. Otherwise, it's hard to find out the cause of the issue without looking into details of your implementation.

Thanks in advance!

[2020-11-11 13:24] TurKurT656 commented on #39
I've created a sample repo for this:
[LingverTest](https://github.com/TurKurT656/LingverTest)

[2020-11-11 13:32] TurKurT656 commented on #39
**Steps to generate bug:**

**1)**
<img width="272" alt="1" src="https://user-images.githubusercontent.com/7152030/98817422-5440bb00-243f-11eb-9f6a-5060e19f2650.png">

**2)**
<img width="274" alt="2" src="https://user-images.githubusercontent.com/7152030/98817501-6ae71200-243f-11eb-9497-b0226bd4eba8.png">

**3)**
<img width="276" alt="3" src="https://user-images.githubusercontent.com/7152030/98817

[2020-11-12 15:21] hamedsilver commented on #39
I have the same issue too.

[2020-11-17 19:57] TurKurT656 commented on #39
@YarikSOffice did you see the sample?

[2020-12-02 12:42] vahid-m commented on #39
I have the same issue when app goes landscape. The layout direction changed to system setting after changing direction.
The activity config in manifest is `android:configChanges="keyboardHidden|orientation|screenSize"`

[2021-01-12 13:44] Kolyall commented on #39
UpdateLocaleDelegate class doesn't have this :
` config.setLayoutDirection(targetLocale)`, so just put it to `fun updateResources`

[2021-01-26 09:16] YarikSOffice commented on #39
@Kolyall I don't think I'd help since `config.setLayoutDirection` is being invoked automatically within `config.setLocale/setLocales` call.

<img width="550" alt="Screenshot 2021-01-26 at 11 12 42" src="https://user-images.githubusercontent.com/4885535/105824890-9c479680-5fc7-11eb-8dab-713acdc12366.png">

[2021-01-26 09:20] YarikSOffice commented on #39
I've given it a few tries, but haven't found a solution yet. Marking the bug as a known issue for now.

[2021-01-29 16:07] Sharabaddin opened #40 "Could not find com.github.YarikSOffice:lingver:1.3.0"
**i add**
`maven { url 'https://jitpack.io' }`

`implementation "com.github.YarikSOffice:lingver:1.3.0"`

**but**

[code]

[2021-02-01 16:39] jemshit commented on #31
In my case it was initialize Admob lately, instead of inside App#onCreate.
I don't know what they doing in that method and causing bug.

[2021-02-01 18:33] YarikSOffice commented on #40
@Sharabaddin It looks like you did not declare the repository properly.

Make sure to declare

```maven { url 'https://jitpack.io' }```

within the `allprojects` clausure.

[2021-02-12 11:49] mnayef95 commented on #39
Any update on this?
Because it's happening with the deep link too

[2021-02-15 20:09] YarikSOffice commented on #39
I haven't found any solution yet.

If you provide a sample project, I can check whether your issue is related to this bug.

[2021-03-25 22:45] c0dehunter opened #41 "How to get default system locale?"
I don't know if this is a problem with me using this library in Java project, or am I missing something? I just want to get default system locale (the phone's locale).

---

    Lingver.getInstance().systemLocale.getLanguage();

---

I also tried:

    Lingver.defaultLocale.getLanguage();

---

Then there is `getSystemLocale$com_yariksoffice_lingver_library()`:

![image](https://user-images.github

[2021-03-26 10:43] YarikSOffice commented on #41
Usually, you don't need to deal with the system locale while using Lingver.

There 2 commonly used scenarios for this library:
1. Enforce a specific locale via `setLocale()` and access this locale anytime via `lingver.getLocale()`.
2. Configure Lingver to follow the system locale via `setFollowSystemLocale()`. In this case, `getLocale()` will always return the system locale.

If you want to get th

[2021-03-26 11:05] c0dehunter commented on #41
Thank you. I did as you mentioned in the last part: saved default system locale by calling `Locale.getDefault()` just before `Lingver.init()` and it works well.

[2021-03-26 12:18] #41 closed, assigned to nobody

[2021-04-14 08:56] Cangol opened #42 "target 30 not working"
target 30 not working

[2021-04-15 21:00] SergiiLitvinenko commented on #31
Had similar problems after Webwiew was opened inside app. Some ui elements like button texts were not translated. Calling Lingver.getInstance().setLocale(...) in onCreateView of Fragment with Webwiew solved the problem

[2021-05-02 20:06] YarikSOffice commented on #42
@Cangol could you elaborate on what is not working for you when targeting sdk 30?
The sample project works as usual.

[2021-05-04 06:22] naufalprakoso commented on #42
Same with me. This library doesn't work on Android SDK 30

[2021-05-04 07:08] naufalprakoso commented on #42
Are you using AAB? @Cangol
If yes, you should try to add this thing on build.gradle
[code]

[2021-05-20 07:46] MuntashirAkon opened #43 "Doesn't work with Robolectric unit tests"
You'd get the following error if you use Robolectric for unit testing. The current workaround is to catch `IllegalStateException`.

[code]

This happens because Robolectric calls `Application#onCreate()` on each test.

[2021-06-17 08:45] YarikSOffice commented on #42
According to my testing, the library works as usual while targeting sdk 30.

@Cangol Could you elaborate on your issue in more details? Thanks

[2021-07-29 13:40] Grch opened #44 "When choosing Arabic language RTL isn't working properly"
Hi! When I'm changing the app language to Arabic (from English) the app is struggling with re-drawing the layout to an RTL, even after calling `activity.recreate()`. It does well only when I close and open the app again. Same things happening when switching RTL -> LTR. Could you please give any suggestion, how could it be fixed? Thank you.

[2021-07-30 12:06] Grch commented on #44
I apologise: I've managed to fix the issue with explicitly adding ` android:layoutDirection="locale"` to recyclerView's xml

[2021-07-30 12:06] #44 closed, assigned to nobody

[2021-08-04 15:56] Grch commented on #43
Have you found any workaround? I can't launch unit tests

[2021-08-04 18:35] MuntashirAkon commented on #43
Create a [custom Application test class](http://robolectric.org/configuring/#configure-application-class) for Robolectric tests.

[2021-08-07 19:14] YarikSOffice commented on #40
Closed due to inactivity. Assuming that the issue has been resolved.

[2021-08-07 19:14] #40 closed, assigned to nobody

[2021-09-19 15:18] honeysamresh opened #45 "How to check instance is initialized or not"
How to check instance is initialized or not
like Lingver.getInstance().isInitialized

[2021-09-19 17:55] AlirezaIvaz opened #46 "Does not works for Arabic"
Both English (`en`) and Persian (`fa`) switching works properly but when I try to set language to Arabic, app displays default language strings and maked LTR, also when I get language value, it returns `ar`!

[2021-09-21 09:35] famfamfam opened #47 "MobileAds.initialize changes locale to default"
Calling MobileAds.initialize in onViewCreated change resources configuration locale to default
So, I think problem is in using deprecated updateConfiguration in Lingver...

[2021-09-22 13:36] AlirezaIvaz commented on #46
I've fixed this issue by adding the following line to `defaultConfig` block in `app/build.gradle`:
[code]

[2021-09-22 13:36] #46 closed, assigned to nobody

[2021-09-22 17:50] YarikSOffice commented on #47
@famfamfam yep, it might be the case.
If other libraries change the device locale, it will affect the operation of Lingver. I don't see any ways to prevent that, unfortunately.

Please consider setting the locale back after MobileAds is initialized.

[2021-09-22 17:59] YarikSOffice commented on #45
Currently, there is no way to do that as the library is designed to be initialized only once during the app launch.

Could you please elaborate on why you need this api?

[2021-09-24 09:43] honeysamresh commented on #45
according to your api i initialized it once in main activity. when i am changing the language i am restarting the whole app. This time the app is crashing showing "Instance already initialized" in logcat. so it ll be better if we can check wheather the instance is initialized or not . if initialized simply start the app otherwise create the instance in mainActivity

you can add a function like bel

[2021-09-24 09:46] YarikSOffice commented on #45
@honeysamresh Could you try to initialize Lingver in `Application.onCreate`? that would prevent the crash on configuration change

See [an example here](https://github.com/YarikSOffice/lingver/blob/master/sample/src/main/java/com/yariksoffice/lingver/App.kt#L38)

[2021-09-24 15:47] honeysamresh commented on #45
here is my java code ```

    protected void onCreate(Bundle savedInstanceState) {
        mainPreference = PreferenceManager.getDefaultSharedPreferences(this);
        editor = mainPreference.edit();
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        activityFlag = getIntent().getIntExtra("flags",0);

            if (activityFlag != 1){

[2021-09-29 20:59] YarikSOffice commented on #45
@honeysamresh could you move this code to the `Application.onCreate` method and let me know whether it solves your issue. Thanks

[2021-09-29 21:00] YarikSOffice commented on #42
Closed due to inactivity.

[2021-09-29 21:00] #42 closed, assigned to nobody

[2021-10-16 21:04] MrMaxxan opened #48 "It does not work for all languages"
I have notice that this library does not change the locale for all languages, for example Tagalog (iso code tl or tl-rPH in Android Studio) doesn't work.

Attached an example project to demonstrate the issue.
[LocaleTest.zip](https://github.com/YarikSOffice/lingver/files/7358261/LocaleTest.zip)

[2021-11-10 05:02] mbilal51214 opened #49 "Locale change not working in release build with dexguard"
Library is working fine in debug build but after making the release build with dexguard library does not work.
I also keep the package in dexguard rules.
-keep class com.yariksoffice.lingver.** { *; }
But still not working

[2021-12-03 03:29] kenneth-leong-gt commented on #36
just a suggestion, I think its possible to check the preference store for the absence of all of the below preference keys as in indication that Lingver has been initialised on a freshly installed app.

[code]
 This is what i am thinking of doing.

[code]

Maybe to both preserve backward compatibility, Lingver can provide a function/method to check if the `store` is a fresh store by doing something

[2021-12-03 03:31] kenshin171 commented on #36
just a suggestion, I think its possible to check the preference store for the absence of all of the below preference keys as in indication that Lingver has been initialised on a freshly installed app.

[code]
 This is what i am thinking of doing.

[code]

Maybe to both preserve backward compatibility, Lingver can provide a function/method to check if the `store` is a fresh store by doing something

[2022-04-21 04:24] yahya-ebizz commented on #49
I am also facing the same issue, it works fine in debug but has issues with the production environment.

[2022-04-29 10:42] shikha1992 commented on #3
@YarikSOffice  I am also facing the same issue in release build. I have `bundle {
        language {
            enableSplit = false
        }
    }` in place.
Language translation is working fine for app but not for notification in release version.
I have below method when notification receive
 `Lingver.getInstance().setLocale(this, Lingver.getInstance().getLanguage());`

In proguard I have set r

[2022-04-29 11:15] shikha1992 opened #50 "AAB release build not working for notification translation"
When app in release mode, aab file do not support arabic translation.
In app gradle I already have -
`bundle {
        language {
            enableSplit = false
        }
    }`
In proguard file, I have
`-keep class com.yariksoffice.lingver.** { *; }`

I am calling below method on Message Recieved(Push notification is received)
`Lingver.getInstance().setLocale(this, Lingver.getInstance().getLangu

[2022-04-30 19:14] YarikSOffice commented on #3
@shikha1992 Would you mind providing more context regarding your issue by answering the same question above?

a few more things to know:

1. Is it a system notification or a custom one?
2. How do u trigger them?

I'd appreciate a small sample app to reproduce it instead of answering the above. Thanks

[2022-04-30 19:17] YarikSOffice commented on #50
Thanks for submitting this issue!

Would you mind providing more context regarding your issue

1. Is it a system notification or a custom one?
2. How do you trigger them? What Context do you use?
3. Have you tried setting the locale in your service/receiver before sending a notification?

I'd appreciate a small sample app to reproduce it as an alternative to answering the above.
Thanks

[2022-05-05 14:51] shikha1992 commented on #50
I got it fixed. Tried setting locale in service class and it works.
This is system notification.

[2022-05-05 14:51] #50 closed, assigned to nobody

[2022-05-10 03:22] sarankumar-ns commented on #31
I also faced this issue. **_For my use case_**, I used Custom Tab Intent by androidx browser library to launch the URL.

[2022-07-06 04:53] joelfernandes19 opened #51 "ANR when calling Lingver.init in Application.onCreate"
We're seeing a lot of ANRs being reported that are caused by Lingver init call. This is occurring during the process creation time (cold start), when calling `Lingver.init(context)` on the `Application.onCreate`

Unable to repro this. Is there any resolution to this?

---

Lingver SDK version: `1.3.0`

**Stats:**
100% of them are background ANRs

OS:
- 50% in Android 11
- 50% in Android 12

Device

[2022-07-08 05:00] yahya-ebizz opened #52 "Locale not working proper in Android 11 and Android 12"

[2022-07-31 13:07] YarikSOffice commented on #51
Hey @joelfernandes19

Indeed, the library performs a file read (from shared preferences) during initialization, but that should **not** make a significant performance impact on your app. Unfortunately, I don't see how we can avoid this call.

Is it reported by Google Play? I'm curious why the report is for Android 11/12 only.
Do you support other versions?

[2022-07-31 14:26] YarikSOffice commented on #52
Hey @yahya-ebizz

Could you please share more details on what is wrong with Android 11 and 12?

I've tested the sample app using the latest versions, but I haven't come across any issues.